
.buttonShadow {  
    box-shadow: rgba(187, 8, 8, 0.582) 0px 0px 6px;
} 
.buttonShadowHigh {  
    box-shadow: rgba(187, 8, 8, 0.582) 0px 0px 11px;
}
  
  
  
.selectableModel {
    cursor: pointer;
        @extend .buttonShadow;
    &:hover {
        @extend .buttonShadowHigh;
    }
}