.Board {
    margin: 1rem;

    .entrance {
        box-shadow: rgba(119, 117, 117, 0.582) 0px 0px 6px;
        padding: 1rem;
        margin-top: 1rem;

    }

    .orgaCells div.steps {
        z-index: 300;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        &>div.step {
            display: inline-flex;
            width: 100%;
            z-index: 300;
            box-shadow: rgba(116, 116, 116, 0.582) 0px 0px 6px;
        }
        div.step>div {
            display: flex;
            flex-direction: row;
            gap: 0.3rem;
        }
    }

    .orgaCells {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        &>div {
            position: relative;
            box-shadow: rgba(167, 167, 167, 0.582) 0px 0px 6px;
            padding: 1rem;
            &>p {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 100;
                font-size: 3rem;
                padding: 0;
                margin: 0;
                color: #eaeaea;
                font-weight: bolder;
            }
            flex-grow: 2;
            flex-basis: 33%;
            div.Visitor {
                position: relative;
                z-index: 200;
            }
        }
    }
}