@import './common';

.Card {
    &>div {
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-around;
        width: 7rem;
        height: 10rem;
        background-color: rgb(218, 215, 255);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        padding: 0.5rem;
        position: relative;
    
        &>p {
            margin: 0;
            padding: 0;
        }
    
    
        p.name {
            font-weight: bold;
        }
        p.type {
            font-weight: lighter;
            text-align: center;
            display: block;
        }
    }
    
    &.small {
        &.front {
            p.explain, 
            p.type {
                display: none;
            }
        }
        &>div {
            width: 5rem;
            height: 3rem;
        }
    }

    &.selectable>div {
        @extend .selectableModel
    }

    &.action>div {
        background-color: rgb(206, 255, 241);
    }
    &.back>div {
        color: #ffffff;
    }
    &.back.organisation>div {
        background-color: rgb(57, 52, 110);
    }
    &.back.action>div {
        background-color: rgb(81, 124, 112)
    }
}