.MainPlayer {

    .task {
        text-align: center;
        font-size: 3rem;
        min-height: 5rem;
    }
        
    .missions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5rem;
    }

    .hand {
        .cards {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 4rem;
    
            &>div {
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
            }
        }
    }
}